
<br>
<button class="btn" mat-raised-button color="primary" routerLink="/addtodo" routerLinkActive="active">Add new Todo</button>

      <p *ngIf="!(todos$ | async)">loading todos...</p>
      <mat-accordion >
          <mat-expansion-panel *ngFor = "let todo of todos$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{todo.todo}}
              </mat-panel-title>
            </mat-expansion-panel-header> 
             {{todo.details}} 
               <button mat-raised-button 
                      color="primary"
                      (click)="done()">
                done
              </button> 
              <!-- <button 
              mat-raised-button color="primary"
              [routerLink]="'/bookform/'+book.id">
                Edit
              </button>         -->
          </mat-expansion-panel>
        </mat-accordion>