
<!-- <form class="example-form" #todoForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>titel</mat-label>
          <input 
          matInput placeholder="ex. meet raz" 
          
          [(ngModel)] = "todo"
       name = "todo"
       required 
        >
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Add details</mat-label>
          <textarea 
          matInput placeholder="Ex.at sundy 12:00"
          [(ngModel)] = "details"
            name = "details"
          ></textarea>
        </mat-form-field>
        <button 
        mat-raised-button 
        color="primary" 
        type="submit"  
        [disabled]="!todoForm.valid"
        routerLink="/todo" 
        routerLinkActive="active" >add todo</button>
        <button mat-raised-button [routerLink]="'/todo'" >Cancel</button>
      </form> -->
<!-- or -->
      <mat-card>
          <h1>New Todo</h1>
          <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="example-container">
              <mat-form-field>
                  <input 
                      matInput placeholder="todo titel"
                      [(ngModel)] = "todo"
                      name = "todo">
              </mat-form-field> 
              <mat-form-field>
                      <input 
                          matInput placeholder="Ex.at sundy 12:00"
                          [(ngModel)] = "details"
                          name = "details">
              </mat-form-field>                   
              <div >
                  <button mat-raised-button color="primary" [disabled]="!bookForm.form.valid" type="submit">add new todo</button>
                  <button mat-raised-button [routerLink]="'/todo'" >Cancel</button>
              </div>
            </div>
          </form>
          </mat-card>
      