<h2>Registered Users</h2>
<mat-accordion>
        <mat-expansion-panel *ngFor = "let user of users$ | async">
            <mat-expansion-panel-header class="right-aligned-header">
                <mat-panel-title >
                {{user.id}}|{{user.name}}
                </mat-panel-title>
                <mat-panel-description>     
                     
                </mat-panel-description>
                <!-- <button mat-raised-button color="primary" (click)="addlike(post.id,post.like)">Like{{post.like}}</button> 
                     <button mat-raised-button color="primary" (click)="deletpost(post.id)">Delete</button>  -->
            </mat-expansion-panel-header> 
            <h3>email:</h3>{{user.email}} 
        </mat-expansion-panel>
    </mat-accordion>