<h1>All Users</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let user of Users$ ">
        <mat-expansion-panel-header>
            <mat-panel-title>
               {{user.name}} 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
        </mat-expansion-panel-header> 
        <div >
                <h3>email: {{user.email}}</h3> 
                
             <button mat-raised-button color="primary" (click)="createAccount(user.name,user.email,user.id)">create account</button>
        </div>
        <!-- <h4 *ngIf = "user.id == postid">{{text}}</h4>
        <h3>Body:</h3>{{user.name}}  -->
        <!-- <h3>Comments:</h3>
        <div *ngFor="let com of comments$ ">
           <div *ngIf = "com.postId == post.id;other"><br> {{com.body}}</div>
        </div>   -->
    </mat-expansion-panel>
</mat-accordion>
