<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
     <mat-toolbar *ngIf = "(authService.user | async)?.uid" >Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.user | async)?.uid" >


       <a mat-list-item routerLink="/users" routerLinkActive="active">Users</a>
      <a mat-list-item routerLink="/register" routerLinkActive="active">Registered Users</a>
      <a mat-list-item routerLink="/todo" routerLinkActive="active">Todos</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Exam</span>
      <span class = "spacer"></span>
      <!-- <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/singup" 
        routerLinkActive="active"
        >SignUp</a> -->
      <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/login" 
        routerLinkActive="active"
        >Login</a>
      <a class = "whitelink" 
        *ngIf = "(authService.user | async)?.uid" 
        (click) = "authService.logout()">Logout</a> 
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
