
<h3>Login</h3>

<mat-card>
<p> Enter  email & password to log in</p>
<div class="example-container">
    <mat-form-field>
      <input 
      matInput placeholder="Enter your email" 
      [(ngModel)] = "email"
      name = "email" 
      #temp = "ngModel"
      >

      <mat-error *ngIf="!(temp.valid || temp.pristine)">
           Name is required
            </mat-error>         
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input 
        matInput placeholder="Enter your password" 
        [type]="hide ? 'password' : 'text'" 
        [(ngModel)] = "password"
        name = "password"
               >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  

    <div class="alert" *ngIf = "authService.err">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{authService.err}}
    </div>


  </div>
    <div >
        <button mat-raised-button color="primary" (click)="onSubmit()"  >Login</button>
      
    </div></mat-card>


<!-- This is a comment-->
